<!-- <p>csgo-posts works!</p> -->
<mat-toolbar-row class="toolbar1">
    
    <img class="csgologo1" src="../../../../assets/csgologo.png">
    
</mat-toolbar-row>
<mat-toolbar-row class="toolbar2">
    
    <img class="csgologo2" src="../../../../assets/csgologosqr.png">
    <div class="buttons">
        <button mat-button class="button1" id="button1" (click)="hideRulesFun()">Posts</button>
        <button mat-button class="button2" id="button2" (click)="showRulesFun()">Rules</button>
    </div>
    
</mat-toolbar-row>

<button class="create-post" mat-flat-button color="primary" routerLink="/csgocreatepost">
    <mat-icon>add</mat-icon>
    Create Post
</button>

<div class="forum" *ngIf="!showRules"> 
    <div *ngFor="let item of postList.reverse() " class="post-list">
       <div>
            <app-post username={{item.user_name}} title={{item.post_title}} content={{item.post_content}} class="post"></app-post>
       </div>
    </div>
    <div class="post-list">
        <app-post username="otherUser" title="Remove PP Bizon from game!" content="Seriously! Its no good. It costs $1400. And no one buys it." class="post"></app-post>
    </div>
</div>

<div class="rules" *ngIf="showRules"> 
    <app-rules></app-rules>
</div>