<div class="card">
    <div class="card-body">
        <i class="fa fa-pen fa-xs edit"></i>
        <table>
            <tbody>
                <tr>
                    <td>Rule 1:</td>
                    <td>All posts must be relevant to the chat rooms discussion.</td>
                </tr>
                <tr>
                    <td>Rule 2:</td>
                    <td>No harassment.</td>
                </tr>
                <tr>
                    <td>Rule 3:</td>
                    <td>No toxicity.</td>
                </tr>
                <tr>
                    <td>Rule 4:</td>
                    <td>No loaded questions.</td>
                </tr>
                <tr>
                    <td>Rule 5:</td>
                    <td>No inappropriate posts.</td>
                </tr>
                <tr>
                    <td>Rule 6:</td>
                    <td>No harmful misinformation.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>