<mat-toolbar color="primary" *ngIf="router.url != '/' && router.url != '/login'">
  <!-- <button class="button-home" mat-button routerLink=""> -->
    <img class="logo" src="../../assets/AceEsportsT2.png" routerLink="/home">
  <!-- </button> -->
  <span routerLink="/home">Ace Esports</span>
  
  <input class="search-input" matInput placeholder="Search" (keydown.enter)="takeSearchBarInput($event)">

  <button class="user-menu" mat-stroked-button [matMenuTriggerFor]="menu">
    <mat-icon>face</mat-icon>
    {{ this.username }}
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/profile">Profile</button>
    <button mat-menu-item routerLink="/settings">Settings</button>
    <button mat-menu-item (click)="signOut()">Sign out</button>
  </mat-menu>
</mat-toolbar>


<div>
  <router-outlet></router-outlet>
</div>