
<body>
    <div class="main">
        <h2>Profile</h2>
        <div class="card">
            <div class="card-body">
                <table>
                    <tbody>
                        <tr>
                            <td>Username:</td>
                            <td>{{ username }}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{ email }}</td>
                        </tr>
                        <tr>
                            <td>Country:</td>
                            <td>United States</td>
                        </tr>
                        <tr>
                            <td>Posts:</td>
                            <td>NA</td>
                        </tr>
                        <!-- <td><mat-icon>settings</mat-icon></td> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- End -->
</body>
