<h1>Check out these communities!</h1>
<ul style="list-style: none;">
    <li>
        <button mat-button routerLink="/csgoforum">
            <img class="csgologo" src="../../../../assets/csgologo.png">
        </button>
    </li>
    <li>
        <button mat-button routerLink="/valorantforum">
            <img class="valologo" src="../../../../assets/valologo.png">
        </button>
    </li>
    <li>
        <button mat-button routerLink="/leagueoflegendsforum">
            <img class="leaguelogo" src="../../../../assets/leaguelogo.png">
        </button>
    </li>
</ul>